/* -------------------------- */
/* navbar 1 */

@media only screen and (min-width: 992px) {
	#navbar1 .nav-link {
		color: #fff;
	}
	#navbar1 .nav-pills .nav-link {
		background: #aa4e66;
	}
	.pa-logo {
		width: 100px;
		height: auto;
	}
}

#navbar1 .nav-item {
	padding-right: 0.5em;
}

/* -------------------------- */
/* logo */

.pa-logo-narrow {
	width: 50px;
	height: auto;
}

.pa-logo-wide {
	display: none;
}

@media only screen and (min-width: 335px) {
	.pa-logo-narrow {
		display: none;
	}
	.pa-logo-wide {
		width: 200px;
		height: auto;
		display: block;
	}
}

@media only screen and (min-width: 1000px) {
	.pa-logo-wide {
		width: 250px;
		height: auto;
		display: block;
	}
}

@media only screen and (min-width: 1250px) {
	.pa-logo-wide {
		width: 350px;
		height: auto;
		display: block;
	}
}

/* -------------------------- */
/* navbar 2 */

#navbar2 .nav-item {
	padding-right: 1.75em;
}

#navbar2 {
	border-radius: 5px;
}

#navbar2 .nav-link,
#navbar2 .navbar-brand {
	color: black;
}

#navbar2 .navbar-toggler {
	border: solid 2px;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 4px;
	border-radius: 5px;
}

/* -------------------------- */
/* navbar 3 */
@media (min-width: 992px) {
	#navbar3 .offcanvas {
		visibility: visible;
		position: relative;
		background: none;
		border: none;
		justify-content: start;
		/* color: red; */
	}
}

@media (max-width: 992px) {
	#navbar3 .offcanvas {
		width: 250px !important;
	}
	#navbar3 .offcanvas-start-lg {
		top: 0;
		left: 0;
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		transform: translateX(-100%);
	}
}

#navbar3 .navbar-nav li a {
	color: white !important;
}

#navbar3 .nav-link {
	padding-left: 0;
}
