/* -------------------------- */
/* navbar 1 */

@media only screen and (min-width: 992px) {
	#navbar1 .nav-link {
		color: #fff;
	}
	#navbar1 .nav-pills .nav-link {
		background: #aa4e66;
	}
	.pa-logo {
		width: 100px;
		height: auto;
	}
}

#navbar1 .nav-item {
	padding-right: 0.5em;
}

/* -------------------------- */
/* logo */

.pa-logo-narrow {
	width: 50px;
	height: auto;
}

.pa-logo-wide {
	display: none;
}

@media only screen and (min-width: 335px) {
	.pa-logo-narrow {
		display: none;
	}
	.pa-logo-wide {
		width: 200px;
		height: auto;
		display: block;
	}
}

@media only screen and (min-width: 1000px) {
	.pa-logo-wide {
		width: 250px;
		height: auto;
		display: block;
	}
}

@media only screen and (min-width: 1250px) {
	.pa-logo-wide {
		width: 350px;
		height: auto;
		display: block;
	}
}

/* -------------------------- */
/* navbar 2 */

#navbar2 .nav-item {
	padding-right: 1.75em;
}

#navbar2 {
	border-radius: 5px;
}

#navbar2 .nav-link,
#navbar2 .navbar-brand {
	color: black;
}

#navbar2 .navbar-toggler {
	border: solid 2px;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 4px;
	border-radius: 5px;
}

/* -------------------------- */
/* navbar 3 */
@media (min-width: 992px) {
	#navbar3 .offcanvas {
		visibility: visible;
		position: relative;
		background: none;
		border: none;
		justify-content: start;
		/* color: red; */
	}
}

@media (max-width: 992px) {
	#navbar3 .offcanvas {
		width: 250px !important;
	}
	#navbar3 .offcanvas-start-lg {
		top: 0;
		left: 0;
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		transform: translateX(-100%);
	}
}

#navbar3 .navbar-nav li a {
	color: white !important;
}

#navbar3 .nav-link {
	padding-left: 0;
}

/* ---------------------------- */
/* navbar 3 */

html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* navbar hide on scroll down */
#navbar3 .nav-up {
	top: -80px;
}
#navbar3 .navbar {
	transition: top 0.4s ease-in-out;
}
#navbar3 .sidebar,
#navbar3 .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
}
.navbar3.sidebar {
	left: -100%;
	max-width: 300px;
	transition: all ease 0.25s;
	overflow-y: auto;
	z-index: 1032;
}
.navbar3.overlay {
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	z-index: 1031;
}
.main-navigation.active .navbar3.sidebar {
	left: 0;
}
.main-navigation.active .navbar3.overlay {
	visibility: visible;
}
@media (min-width: 992px) {
	#navbar3 .sidebar {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		flex-direction: row;
		max-width: 100%;
		transform: none;
		transition: none;
		overflow-y: visible;
		z-index: auto;
	}
}
#navbar3 .main-heading {
	position: relative;
	z-index: 100;
}
@media (max-width: 991.98px) {
	#navbar3 .navbar-nav {
		padding-top: 5rem;
		padding-left: 1.5rem;
	}
}
@media (min-width: 1084px) {
	#navbar3 .order-lg-2 svg {
		display: none;
	}
}
