@media only screen and (min-width: 992px) {
	#navbar1 .nav-link {
		color: #fff;
	}
	#navbar1 .nav-pills .nav-link {
		background: #aa4e66;
	}
	.pa-logo {
		width: 100px;
		height: auto;
	}
}

@media only screen and (max-width: 992px) {
	.pa-logo {
		width: 50px;
		height: auto;
	}
}

#navbar1 .nav-item {
	padding-right: 1em;
}
